html,
body {
  margin: 0;
  padding: 0;
}
#intro .wrapper {
  display: block;
  height: 100vh;
  width: 100vw;
  position: relative;
}
#intro .wrapper .content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;
  color: #fff;
  background: #03A9F4;
}
