@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:400,600|Bevan');
html,
body {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: "Barlow Condensed";
  letter-spacing: 1px;
}
#splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #222;
  z-index: 900;
  -webkit-transition: all 400ms cubic-bezier(0.435, 0.035, 0.515, 0.98);
  -moz-transition: all 400ms cubic-bezier(0.435, 0.035, 0.515, 0.98);
  -o-transition: all 400ms cubic-bezier(0.435, 0.035, 0.515, 0.98);
  transition: all 400ms cubic-bezier(0.435, 0.035, 0.515, 0.98);
  /* custom */
  -webkit-transition-timing-function: cubic-bezier(0.435, 0.035, 0.515, 0.98);
  -moz-transition-timing-function: cubic-bezier(0.435, 0.035, 0.515, 0.98);
  -o-transition-timing-function: cubic-bezier(0.435, 0.035, 0.515, 0.98);
  transition-timing-function: cubic-bezier(0.435, 0.035, 0.515, 0.98);
  /* custom */
}
.global-cont {
  width: 100%;
  height: 100%;
  overflow: auto;
}
#nav {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 1000;
  -webkit-transition: all 400ms cubic-bezier(0.435, 0.035, 0.515, 0.98);
  -moz-transition: all 400ms cubic-bezier(0.435, 0.035, 0.515, 0.98);
  -o-transition: all 400ms cubic-bezier(0.435, 0.035, 0.515, 0.98);
  transition: all 400ms cubic-bezier(0.435, 0.035, 0.515, 0.98);
  /* custom */
  -webkit-transition-timing-function: cubic-bezier(0.435, 0.035, 0.515, 0.98);
  -moz-transition-timing-function: cubic-bezier(0.435, 0.035, 0.515, 0.98);
  -o-transition-timing-function: cubic-bezier(0.435, 0.035, 0.515, 0.98);
  transition-timing-function: cubic-bezier(0.435, 0.035, 0.515, 0.98);
  /* custom */
}
#nav .logo {
  position: absolute;
  top: -10000px;
  width: 40px;
  height: 40px;
  margin: 5px;
  opacity: 0.5;
  -webkit-transition: all 700ms cubic-bezier(0.435, 0.035, 0.515, 0.98);
  -moz-transition: all 700ms cubic-bezier(0.435, 0.035, 0.515, 0.98);
  -o-transition: all 700ms cubic-bezier(0.435, 0.035, 0.515, 0.98);
  transition: all 700ms cubic-bezier(0.435, 0.035, 0.515, 0.98);
  /* custom */
  -webkit-transition-timing-function: cubic-bezier(0.435, 0.035, 0.515, 0.98);
  -moz-transition-timing-function: cubic-bezier(0.435, 0.035, 0.515, 0.98);
  -o-transition-timing-function: cubic-bezier(0.435, 0.035, 0.515, 0.98);
  transition-timing-function: cubic-bezier(0.435, 0.035, 0.515, 0.98);
  /* custom */
}
#nav .logo img {
  width: 100%;
  height: 100%;
}
#nav .logo svg .cls-2 {
  transition: stroke-width 2s;
  stroke-width: 0;
}
#nav.hidden .container {
  opacity: 0;
}
#nav .container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-transition: all 400ms cubic-bezier(0.435, 0.035, 0.515, 0.98);
  -moz-transition: all 400ms cubic-bezier(0.435, 0.035, 0.515, 0.98);
  -o-transition: all 400ms cubic-bezier(0.435, 0.035, 0.515, 0.98);
  transition: all 400ms cubic-bezier(0.435, 0.035, 0.515, 0.98);
  /* custom */
  -webkit-transition-timing-function: cubic-bezier(0.435, 0.035, 0.515, 0.98);
  -moz-transition-timing-function: cubic-bezier(0.435, 0.035, 0.515, 0.98);
  -o-transition-timing-function: cubic-bezier(0.435, 0.035, 0.515, 0.98);
  transition-timing-function: cubic-bezier(0.435, 0.035, 0.515, 0.98);
  /* custom */
}
#nav .container .item {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 70px;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  -webkit-transition: all 300ms cubic-bezier(0.435, 0.035, 0.515, 0.98);
  -moz-transition: all 300ms cubic-bezier(0.435, 0.035, 0.515, 0.98);
  -o-transition: all 300ms cubic-bezier(0.435, 0.035, 0.515, 0.98);
  transition: all 300ms cubic-bezier(0.435, 0.035, 0.515, 0.98);
  /* custom */
  -webkit-transition-timing-function: cubic-bezier(0.435, 0.035, 0.515, 0.98);
  -moz-transition-timing-function: cubic-bezier(0.435, 0.035, 0.515, 0.98);
  -o-transition-timing-function: cubic-bezier(0.435, 0.035, 0.515, 0.98);
  transition-timing-function: cubic-bezier(0.435, 0.035, 0.515, 0.98);
  /* custom */
}
#nav .container .item:hover {
  background-color: #22222230;
}
#nav .container .logo-spacer {
  width: 100px;
}
#nav.scaled {
  background-color: #22222260;
}
@keyframes background-anim {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
#intro {
  height: 100%;
  width: 100%;
}
#intro .wrapper {
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
#intro .wrapper .content {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  height: 100%;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  color: #fff;
  font-family: "Bevan";
}
#intro .wrapper .content > * {
  width: 100%;
  display: inline-block;
}
#intro .wrapper .content .logo {
  width: 70px;
  height: 70px;
  background: url("../images/logo.png");
}
#intro .wrapper .content .title {
  font-size: 5em;
}
#intro .wrapper .content .subtitle {
  font-size: 3em;
}
@media (max-width: 900px) {
  #intro .wrapper .content .title {
    font-size: 4em;
  }
  #intro .wrapper .content .subtitle {
    font-size: 2em;
  }
}
#intro .wrapper .content .text {
  font-size: 1em;
  font-family: "Barlow Condensed";
  letter-spacing: 1px;
}
#intro .wrapper .content hr {
  width: 50px;
  height: 5px;
  background: #fff;
  border: none;
  margin: 10px 0 20px;
}
#intro .wrapper .content .btn {
  margin-top: 40px;
  width: auto;
}
#intro .wrapper .background {
  display: block;
  position: absolute;
  top: -5%;
  left: -5%;
  height: 110%;
  width: 110%;
  z-index: -1;
  animation: background-anim 100s infinite;
  background-color: #40C4FF;
  background-position: center;
  background-size: cover;
  filter: blur(3px);
  overflow: hidden;
}
#intro .wrapper .background .layer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background-color: #222;
  opacity: 0.3;
}
#intro + div {
  margin-top: 100vh;
}
.c22,
.c21,
.c12,
.c31 {
  display: flex;
  flex-wrap: wrap;
  min-height: 600px;
}
.c22 {
  width: 100%;
}
.c22 > .card {
  width: 50%;
  min-height: 150px;
}
@media (max-width: 1300px) {
  .c22 {
    height: auto;
  }
}
.c21 {
  width: 100%;
}
.c21 > .card {
  width: 50%;
}
@media (max-width: 1300px) {
  .c21 {
    height: auto;
  }
}
.c12 {
  width: 100%;
}
.c12 > .card {
  width: 100%;
}
@media (max-width: 1300px) {
  .c12 {
    height: auto;
  }
}
.c31 {
  width: 100%;
}
.c31 > .card {
  width: calc(100% / 3);
}
@media (max-width: 1300px) {
  .c31 {
    height: auto;
  }
}
.c22 .card,
.c21 .card,
.c12 .card,
.c31 .card {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
  z-index: 0;
}
.c22 .card .text,
.c21 .card .text,
.c12 .card .text,
.c31 .card .text {
  width: 80%;
}
.c22 .card .cawCards,
.c21 .card .cawCards,
.c12 .card .cawCards,
.c31 .card .cawCards {
  position: absolute;
  bottom: -60px;
  margin-left: -100px;
  display: inline;
  -webkit-transition: all 300ms cubic-bezier(0.435, 0.035, 0.515, 0.98);
  -moz-transition: all 300ms cubic-bezier(0.435, 0.035, 0.515, 0.98);
  -o-transition: all 300ms cubic-bezier(0.435, 0.035, 0.515, 0.98);
  transition: all 300ms cubic-bezier(0.435, 0.035, 0.515, 0.98);
  /* custom */
  -webkit-transition-timing-function: cubic-bezier(0.435, 0.035, 0.515, 0.98);
  -moz-transition-timing-function: cubic-bezier(0.435, 0.035, 0.515, 0.98);
  -o-transition-timing-function: cubic-bezier(0.435, 0.035, 0.515, 0.98);
  transition-timing-function: cubic-bezier(0.435, 0.035, 0.515, 0.98);
  /* custom */
}
.c22 .card .cawCards .cawCard,
.c21 .card .cawCards .cawCard,
.c12 .card .cawCards .cawCard,
.c31 .card .cawCards .cawCard {
  background-color: #fff;
  height: 300px;
  width: 200px;
  border-radius: 4px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  margin: 8px;
  position: absolute;
  -webkit-transition: all 300ms cubic-bezier(0.435, 0.035, 0.515, 0.98);
  -moz-transition: all 300ms cubic-bezier(0.435, 0.035, 0.515, 0.98);
  -o-transition: all 300ms cubic-bezier(0.435, 0.035, 0.515, 0.98);
  transition: all 300ms cubic-bezier(0.435, 0.035, 0.515, 0.98);
  /* custom */
  -webkit-transition-timing-function: cubic-bezier(0.435, 0.035, 0.515, 0.98);
  -moz-transition-timing-function: cubic-bezier(0.435, 0.035, 0.515, 0.98);
  -o-transition-timing-function: cubic-bezier(0.435, 0.035, 0.515, 0.98);
  transition-timing-function: cubic-bezier(0.435, 0.035, 0.515, 0.98);
  /* custom */
  left: 85px;
  margin-left: -20px;
}
.c22 .card .cawCards .cawCard.black,
.c21 .card .cawCards .cawCard.black,
.c12 .card .cawCards .cawCard.black,
.c31 .card .cawCards .cawCard.black {
  left: -85px;
  margin-left: 20px;
  background-color: #222;
}
.c22 .card:not(.cont):hover .slide._0,
.c21 .card:not(.cont):hover .slide._0,
.c12 .card:not(.cont):hover .slide._0,
.c31 .card:not(.cont):hover .slide._0 {
  bottom: 0;
}
.c22 .card:not(.cont):hover .slide._1,
.c21 .card:not(.cont):hover .slide._1,
.c12 .card:not(.cont):hover .slide._1,
.c31 .card:not(.cont):hover .slide._1 {
  bottom: -10%;
}
.c22 .card:not(.cont):hover .slide._2,
.c21 .card:not(.cont):hover .slide._2,
.c12 .card:not(.cont):hover .slide._2,
.c31 .card:not(.cont):hover .slide._2 {
  bottom: -20%;
}
.c22 .card:not(.cont):hover .slide._3,
.c21 .card:not(.cont):hover .slide._3,
.c12 .card:not(.cont):hover .slide._3,
.c31 .card:not(.cont):hover .slide._3 {
  bottom: -30%;
}
.c22 .card:not(.cont):hover .slide._4,
.c21 .card:not(.cont):hover .slide._4,
.c12 .card:not(.cont):hover .slide._4,
.c31 .card:not(.cont):hover .slide._4 {
  bottom: -40%;
}
.c22 .card:not(.cont):hover .slide._5,
.c21 .card:not(.cont):hover .slide._5,
.c12 .card:not(.cont):hover .slide._5,
.c31 .card:not(.cont):hover .slide._5 {
  bottom: -50%;
}
.c22 .card:not(.cont):hover .slide._6,
.c21 .card:not(.cont):hover .slide._6,
.c12 .card:not(.cont):hover .slide._6,
.c31 .card:not(.cont):hover .slide._6 {
  bottom: -60%;
}
.c22 .card:not(.cont):hover .slide._7,
.c21 .card:not(.cont):hover .slide._7,
.c12 .card:not(.cont):hover .slide._7,
.c31 .card:not(.cont):hover .slide._7 {
  bottom: -70%;
}
.c22 .card:not(.cont):hover .slide._8,
.c21 .card:not(.cont):hover .slide._8,
.c12 .card:not(.cont):hover .slide._8,
.c31 .card:not(.cont):hover .slide._8 {
  bottom: -80%;
}
.c22 .card:not(.cont):hover .slide._9,
.c21 .card:not(.cont):hover .slide._9,
.c12 .card:not(.cont):hover .slide._9,
.c31 .card:not(.cont):hover .slide._9 {
  bottom: -90%;
}
.c22 .card:not(.cont):hover .background,
.c21 .card:not(.cont):hover .background,
.c12 .card:not(.cont):hover .background,
.c31 .card:not(.cont):hover .background {
  transform: scale(1.1);
}
.c22 .card:not(.cont):hover .background .overlay,
.c21 .card:not(.cont):hover .background .overlay,
.c12 .card:not(.cont):hover .background .overlay,
.c31 .card:not(.cont):hover .background .overlay {
  opacity: 0.4;
}
.c22 .card:not(.cont):hover .cawCards,
.c21 .card:not(.cont):hover .cawCards,
.c12 .card:not(.cont):hover .cawCards,
.c31 .card:not(.cont):hover .cawCards {
  bottom: 125px;
}
.c22 .card:not(.cont):hover .cawCards .cawCard,
.c21 .card:not(.cont):hover .cawCards .cawCard,
.c12 .card:not(.cont):hover .cawCards .cawCard,
.c31 .card:not(.cont):hover .cawCards .cawCard {
  transform: rotate(20deg);
  margin-left: 0;
}
.c22 .card:not(.cont):hover .cawCards .cawCard.black,
.c21 .card:not(.cont):hover .cawCards .cawCard.black,
.c12 .card:not(.cont):hover .cawCards .cawCard.black,
.c31 .card:not(.cont):hover .cawCards .cawCard.black {
  transform: rotate(-20deg);
}
.c22 .card .content,
.c21 .card .content,
.c12 .card .content,
.c31 .card .content {
  width: 100%;
  text-align: center;
  padding: 100px 0 120px;
  position: relative;
  display: block;
  z-index: 2;
}
.c22 .card .content > *,
.c21 .card .content > *,
.c12 .card .content > *,
.c31 .card .content > * {
  display: block;
  text-align: center;
  margin: 0 auto 0;
  position: relative;
}
.c22 .card .content .title,
.c21 .card .content .title,
.c12 .card .content .title,
.c31 .card .content .title {
  margin-bottom: 20px;
  margin-top: 20px;
}
.c22 .card .content .text,
.c21 .card .content .text,
.c12 .card .content .text,
.c31 .card .content .text {
  width: 50%;
  margin-top: 40px;
  font-size: 1.2em;
}
.c22 .card .content .btn,
.c21 .card .content .btn,
.c12 .card .content .btn,
.c31 .card .content .btn {
  margin-top: 20px;
  display: inline-flex;
}
.c22 .card .content.news,
.c21 .card .content.news,
.c12 .card .content.news,
.c31 .card .content.news {
  padding: 30px 0;
}
.c22 .card .background,
.c21 .card .background,
.c12 .card .background,
.c31 .card .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 300ms cubic-bezier(0.435, 0.035, 0.515, 0.98);
  -moz-transition: all 300ms cubic-bezier(0.435, 0.035, 0.515, 0.98);
  -o-transition: all 300ms cubic-bezier(0.435, 0.035, 0.515, 0.98);
  transition: all 300ms cubic-bezier(0.435, 0.035, 0.515, 0.98);
  /* custom */
  -webkit-transition-timing-function: cubic-bezier(0.435, 0.035, 0.515, 0.98);
  -moz-transition-timing-function: cubic-bezier(0.435, 0.035, 0.515, 0.98);
  -o-transition-timing-function: cubic-bezier(0.435, 0.035, 0.515, 0.98);
  transition-timing-function: cubic-bezier(0.435, 0.035, 0.515, 0.98);
  /* custom */
  background-position: center;
  background-size: cover;
}
.c22 .card .background .overlay,
.c21 .card .background .overlay,
.c12 .card .background .overlay,
.c31 .card .background .overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #222;
  opacity: 0.5;
  -webkit-transition: all 300ms cubic-bezier(0.435, 0.035, 0.515, 0.98);
  -moz-transition: all 300ms cubic-bezier(0.435, 0.035, 0.515, 0.98);
  -o-transition: all 300ms cubic-bezier(0.435, 0.035, 0.515, 0.98);
  transition: all 300ms cubic-bezier(0.435, 0.035, 0.515, 0.98);
  /* custom */
  -webkit-transition-timing-function: cubic-bezier(0.435, 0.035, 0.515, 0.98);
  -moz-transition-timing-function: cubic-bezier(0.435, 0.035, 0.515, 0.98);
  -o-transition-timing-function: cubic-bezier(0.435, 0.035, 0.515, 0.98);
  transition-timing-function: cubic-bezier(0.435, 0.035, 0.515, 0.98);
  /* custom */
}
.c22 .card .slide,
.c21 .card .slide,
.c12 .card .slide,
.c31 .card .slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: auto;
  bottom: -100%;
  left: 0;
  z-index: 1;
  background-size: cover;
  background-position: top;
  -webkit-transition: all 300ms cubic-bezier(0.435, 0.035, 0.515, 0.98);
  -moz-transition: all 300ms cubic-bezier(0.435, 0.035, 0.515, 0.98);
  -o-transition: all 300ms cubic-bezier(0.435, 0.035, 0.515, 0.98);
  transition: all 300ms cubic-bezier(0.435, 0.035, 0.515, 0.98);
  /* custom */
  -webkit-transition-timing-function: cubic-bezier(0.435, 0.035, 0.515, 0.98);
  -moz-transition-timing-function: cubic-bezier(0.435, 0.035, 0.515, 0.98);
  -o-transition-timing-function: cubic-bezier(0.435, 0.035, 0.515, 0.98);
  transition-timing-function: cubic-bezier(0.435, 0.035, 0.515, 0.98);
  /* custom */
}
.c22 .card .contact,
.c21 .card .contact,
.c12 .card .contact,
.c31 .card .contact {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: all 300ms cubic-bezier(0.435, 0.035, 0.515, 0.98);
  -moz-transition: all 300ms cubic-bezier(0.435, 0.035, 0.515, 0.98);
  -o-transition: all 300ms cubic-bezier(0.435, 0.035, 0.515, 0.98);
  transition: all 300ms cubic-bezier(0.435, 0.035, 0.515, 0.98);
  /* custom */
  -webkit-transition-timing-function: cubic-bezier(0.435, 0.035, 0.515, 0.98);
  -moz-transition-timing-function: cubic-bezier(0.435, 0.035, 0.515, 0.98);
  -o-transition-timing-function: cubic-bezier(0.435, 0.035, 0.515, 0.98);
  transition-timing-function: cubic-bezier(0.435, 0.035, 0.515, 0.98);
  /* custom */
}
.c22 .card .contact img,
.c21 .card .contact img,
.c12 .card .contact img,
.c31 .card .contact img {
  -webkit-transition: all 300ms cubic-bezier(0.435, 0.035, 0.515, 0.98);
  -moz-transition: all 300ms cubic-bezier(0.435, 0.035, 0.515, 0.98);
  -o-transition: all 300ms cubic-bezier(0.435, 0.035, 0.515, 0.98);
  transition: all 300ms cubic-bezier(0.435, 0.035, 0.515, 0.98);
  /* custom */
  -webkit-transition-timing-function: cubic-bezier(0.435, 0.035, 0.515, 0.98);
  -moz-transition-timing-function: cubic-bezier(0.435, 0.035, 0.515, 0.98);
  -o-transition-timing-function: cubic-bezier(0.435, 0.035, 0.515, 0.98);
  transition-timing-function: cubic-bezier(0.435, 0.035, 0.515, 0.98);
  /* custom */
  width: 60px;
  height: 60px;
}
.c22 .card .contact:hover,
.c21 .card .contact:hover,
.c12 .card .contact:hover,
.c31 .card .contact:hover {
  background-blend-mode: color-burn;
}
.c22 .card .contact:hover img,
.c21 .card .contact:hover img,
.c12 .card .contact:hover img,
.c31 .card .contact:hover img {
  transform: scale(1.5);
}
@media (max-width: 1300px) {
  .c22 .card,
  .c21 .card,
  .c12 .card,
  .c31 .card {
    width: 100%;
    height: auto;
    min-height: 200px;
  }
}
@media (max-width: 900px) {
  .content.project .title,
  .content.news .title {
    font-size: 2em;
  }
}
footer {
  height: 100%;
  width: 100%;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
footer * {
  width: 100%;
  text-align: center;
}
footer .title {
  font-size: 1em;
  font-family: "Barlow Condensed";
  letter-spacing: 1px;
  font-size: 20px;
  color: #fff;
}
footer .subtitle {
  font-size: 1em;
  font-family: "Barlow Condensed";
  letter-spacing: 1px;
  font-size: 16px;
  color: #fff;
}
footer .quote {
  font-style: italic;
}
.title {
  font-family: "Bevan";
  font-size: 3em;
  text-align: center;
}
.subtitle {
  font-family: "Bevan";
  font-size: 2em;
  text-align: center;
}
hr {
  width: 40px;
  height: 3px;
  background: #fff;
  border: none;
  display: inline-block;
  margin: 10px;
}
.text {
  font-size: 1em;
  font-family: "Barlow Condensed";
  text-align: center;
}
.white {
  color: #fff;
}
.barlow {
  font-size: 1em;
  font-family: "Barlow Condensed";
  letter-spacing: 1px;
}
.btn {
  color: #fff;
  padding: 10px 20px;
  border-radius: 35px;
  background-color: #F61C3B;
  width: auto;
  height: 25px;
  font-size: 1em;
  font-family: "Barlow Condensed";
  letter-spacing: 1px;
  -webkit-transition: all 200ms cubic-bezier(0.435, 0.035, 0.515, 0.98);
  -moz-transition: all 200ms cubic-bezier(0.435, 0.035, 0.515, 0.98);
  -o-transition: all 200ms cubic-bezier(0.435, 0.035, 0.515, 0.98);
  transition: all 200ms cubic-bezier(0.435, 0.035, 0.515, 0.98);
  /* custom */
  -webkit-transition-timing-function: cubic-bezier(0.435, 0.035, 0.515, 0.98);
  -moz-transition-timing-function: cubic-bezier(0.435, 0.035, 0.515, 0.98);
  -o-transition-timing-function: cubic-bezier(0.435, 0.035, 0.515, 0.98);
  transition-timing-function: cubic-bezier(0.435, 0.035, 0.515, 0.98);
  /* custom */
  text-transform: uppercase;
  font-weight: 600;
  box-shadow: 0 2px 1px #00000024;
  margin: 16px;
  text-decoration: none;
}
.btn:hover {
  background-color: #d91935;
  box-shadow: 2px 3px 10px 0px #00000031 31;
}
#style-2::-webkit-scrollbar {
  width: 10px;
  background-color: #222;
}
#style-2::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F61C3B;
}
