
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:400,600|Bevan');

@primary: #03A9F4;
@accent: #F61C3B;
@accentDark: #d91935;


html, body{ 
    margin: 0; 
    padding: 0; 
    .barlow; 
}

#splash{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #222;
    z-index: 900;

    .smooth(400ms);
}

.global-cont{
    width: 100%;
    height: 100%;
    overflow: auto;
}

#nav{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;  
    z-index: 1000; 
     
    .logo{
        position: absolute;
        top: -10000px;
        width: 40px;   
        height: 40px;
        margin: 5px;
        img{width: 100%; height: 100%;}

        opacity: 0.5;
        .smooth(700ms);
        
        svg{
            .cls-2{
                transition: stroke-width 2s;
                stroke-width: 0;
            }
        }
    }

    &.hidden .container{
        opacity: 0;
    }
    
    .container{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        .smooth(400ms);

        .item{
            display: flex;
            justify-content: center;
            align-content: center; 
            align-items: center;
            width: 70px;
            
            color: #fff;
            font-weight: 600;
            text-decoration: none;

            .smooth(300ms);

            &:hover{
                background-color: #22222230;
            }
        }
        .logo-spacer{
            width: 100px;
        }
    }

    .smooth(400ms);
    &.scaled{
        background-color: #22222260;
    }
}
 
@keyframes background-anim{
    0%{transform: scale(1)}
    50%{transform: scale(1.3)}
    100%{transform: scale(1)}
}
#intro{
    height: 100%;
    width: 100%;  
    .wrapper{
        display: block;
        height: 100%;
        width: 100%;
        position: relative;
           
        overflow: hidden;
        .content{  
            display: flex; 
            align-content: center; 
            justify-content: center;
            flex-wrap: wrap;
            text-align: center;
            height: 100%;
            width: 100%;
            position: relative;
            top: 0;
            left: 0;  

            color: #fff;

            
            
            //background: @primary;
            //background: url("../images/background.png");
            font-family: "Bevan";
            
            & > * {
                width: 100%;
                display: inline-block;
            } 
            
            .logo{
                width: 70px;
                height: 70px;
                
                background: url("../images/logo.png");
            }
            
            .title{
                font-size: 5em; 
            }
            .subtitle{
                font-size: 3em;
            }
            @media(max-width: 900px){
                .title{
                    font-size: 4em; 
                }
                .subtitle{
                    font-size: 2em;
                }
            }
            .text{
                font-size: 1em;
                font-family: "Barlow Condensed";  
                .barlow;
            }
            
            hr{
                width: 50px;
                height: 5px;
                background: #fff;
                border: none;
                
                margin: 10px 0 20px;
            }
            
            .btn{
                margin-top: 40px;
                width: auto;
            }
            
        }   
        
        .background{
            display: block;
            position: absolute;
            top: -5%;
            left: -5%;
            height: 110%;
            width: 110%; 
            z-index: -1;

            animation: background-anim 100s infinite;
            
            background-color: #40C4FF;
            //background: url("https://source.unsplash.com/random");
            background-position: center; 
            background-size: cover;   
            filter: blur(3px);   
            
            overflow: hidden;
            .layer{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                
                background-color: #222;
                opacity: 0.3;   
            }
            
        }
        
        
    }

    & + div{
        margin-top: 100vh;
    }
}


.c22, .c21, .c12, .c31{
    display: flex;
    flex-wrap: wrap;  
    min-height: 600px;
}

.c22{
    width: 100%;
    & > .card{
        width: 50%;
        min-height: 150px;
    }
    @media (max-width: 1300px){
        height: auto;
    }  
}
.c21{
    width: 100%;
    & > .card{
        width: 50%;
    }
    @media (max-width: 1300px){
        height: auto;
    }  
}
.c12{
    width: 100%;
    & > .card{
        width: 100%;
    }
    @media (max-width: 1300px){
        height: auto;
    }  
}

.c31{
    width: 100%;
    & > .card{
        width: ~"calc(100% / 3)";
    }

    @media(max-width: 1300px){
        height: auto;
    }
}

.c22 .card, .c21 .card, .c12 .card, .c31 .card{
    //padding: 30px;  
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    z-index: 0;
    .text{
        width: 80%;
    }

    .cawCards{
        position: absolute;
        bottom: -60px;
        margin-left: -100px;
        display: inline;
    
        .smooth(300ms);
        .cawCard{
            background-color: #fff;
            height: 300px;
            width: 200px;
            border-radius: 4px;
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            margin: 8px;
            position: absolute;
            .smooth(300ms);
            left: 85px;
            margin-left: -20px;
    
            &.black{
                left: -85px;
                margin-left: 20px;
                background-color: #222;
            }
        }
    }
    
    

    &:not(.cont):hover{
        .slide._0{ bottom: 0; }
        .slide._1{ bottom: -10%; }
        .slide._2{ bottom: -20%; }
        .slide._3{ bottom: -30%; }
        .slide._4{ bottom: -40%; }
        .slide._5{ bottom: -50%; }
        .slide._6{ bottom: -60%; }
        .slide._7{ bottom: -70%; }
        .slide._8{ bottom: -80%; }
        .slide._9{ bottom: -90%; }

        .background{
            transform: scale(1.1);
            .overlay{
                opacity: 0.4;
            }
        }

        .cawCards{
            bottom: 125px;
            .cawCard{
                transform: rotate(20deg);
                margin-left: 0;
                &.black{
                    transform: rotate(-20deg);
                }
            }
        }
        
    }

    .content{
        & > * {
            display: block;
            text-align: center;
            margin: 0 auto 0;
            position: relative;
        }
        width: 100%;
        text-align: center;
        padding: 100px 0 120px;
        position: relative;
        display: block;
        z-index: 2;
        .title{
            margin-bottom: 20px;
            margin-top: 20px;
        }
        .text{
            width: 50%;
            margin-top: 40px;
            font-size: 1.2em;
        }

        .btn{
            margin-top: 20px;
            display: inline-flex;
        }
        &.news{
            padding: 30px 0; 
        }
    }
    .background{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        .smooth(300ms);

        background-position: center;
        background-size: cover;
        .overlay{
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: #222;
            opacity: 0.5;
            .smooth(300ms);
        }
    }
    .slide{
        width: 100%;
        height: 100%;
        position: absolute;
        top: auto;
        bottom: -100%;
        left: 0;
        z-index: 1;

        background-size: cover;
        background-position: top;

        .smooth(300ms);
    }
    .contact{
        display: flex;
        justify-content: center;
        align-items: center;
        .smooth(300ms);
        img{
            .smooth(300ms);
            width: 60px;
            height: 60px;
        }
        &:hover{
            background-blend-mode: color-burn;
            img{
                transform: scale(1.5);
            }
        }
    }
    
    @media (max-width: 1300px){
        width: 100%;
        height: auto;
        min-height: 200px;
    }
}


@media(max-width: 900px){
    .content.project, .content.news{
        .title{
            font-size: 2em;
        }
    }
}



footer{
    height: 100%;
    width: 100%;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    * {
        width: 100%;
        text-align: center;
    }

    .title{
        .barlow;
        font-size: 20px;
        color: #fff;
    }
    .subtitle{
        .barlow;
        font-size: 16px;
        color: #fff;
    }
    .quote{
        font-style: italic;
    }
}

.title{
    font-family: "Bevan";
    font-size: 3em; 
    text-align: center;
}
.subtitle{
    font-family: "Bevan";
    font-size: 2em;
    text-align: center;
}
hr{
    width: 40px;
    height: 3px;
    background: #fff;
    border: none;
    display: inline-block;

    margin: 10px;
}
.text{
    font-size: 1em;
    font-family: "Barlow Condensed";  
    text-align: center;
}

.white{
    color: #fff;
}



.barlow{
    font-size: 1em;
    font-family: "Barlow Condensed";
    letter-spacing: 1px; 
}
.smooth(@duration){
    -webkit-transition: all @duration cubic-bezier(0.435, 0.035, 0.515, 0.980); 
       -moz-transition: all @duration cubic-bezier(0.435, 0.035, 0.515, 0.980); 
         -o-transition: all @duration cubic-bezier(0.435, 0.035, 0.515, 0.980); 
            transition: all @duration cubic-bezier(0.435, 0.035, 0.515, 0.980); /* custom */

    -webkit-transition-timing-function: cubic-bezier(0.435, 0.035, 0.515, 0.980); 
       -moz-transition-timing-function: cubic-bezier(0.435, 0.035, 0.515, 0.980); 
         -o-transition-timing-function: cubic-bezier(0.435, 0.035, 0.515, 0.980); 
            transition-timing-function: cubic-bezier(0.435, 0.035, 0.515, 0.980); /* custom */
}
.btn{
    color: #fff;
    padding: 10px 20px;
    border-radius: 35px;  
    background-color: @accent; 
    width: auto;
    height: 25px;  
    .barlow;
    .smooth(200ms);
    
    text-transform: uppercase;
    font-weight: 600;
      
    box-shadow: 0 2px 1px #00000024;
    
    margin: 16px; 

    text-decoration: none;
     
    &:hover{
        background-color: @accentDark;
        box-shadow: 2px 3px 10px 0px #00000031
    }


}



#style-2::-webkit-scrollbar
{
	width: 10px;
    background-color: #222;
}

#style-2::-webkit-scrollbar-thumb
{
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: @accent;
}


